.shipping_payment {
    padding-bottom: 80px;
  
    &__title {
      margin: 0;
      margin-bottom: 48px;
      font-weight: 500;
      font-size: 36px;
      color: #2D2D2D;
  
      @media (max-width: 820px) {
        font-size: 22px;
        margin-bottom: 16px;
      }
  
      &.dark_mode {
        color: #f2f2f2;
      }
    }
  
    &__tabs {
      display: grid;
      grid-template-columns: 222px 1fr;
      grid-column-gap: 24px;
      padding: 24px;
      background-color: #FFFFFF;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
  
      @media (max-width: 820px) {
        display: block;
        padding: 16px;
      }
  
      &.dark_mode {
        background-color: #2d2d2d;
      }
  
      &__controls {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-right: 24px;
        border-right: 1px solid #E1E1E1;
  
        @media (max-width: 820px) {
          padding-right: 0;
          padding-bottom: 16px;
          margin-bottom: 16px;
          border-right: none;
          border-bottom: 1px solid #E1E1E1;
        }
  
        &__item {
          padding: 12px 16px;
          transition: color .2s ease-in-out, background-color .2s ease-in-out;
          border-radius: 4px;
  
          &.active {
            color: #f2f2f2;
            background-color: #F4FAF6;
            transition: color .2s ease-in-out, background-color .2s ease-in-out;
          }
  
          &.dark_mode.active {
            background-color: #222;
            transition: background-color .2s ease-in-out;
          }
  
          button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: #4E4C4C;
            text-align: start;
            transition: color .2s ease-in-out;
  
            @media (max-width: 820px) {
              color: #1C629E;
            }
  
            &.dark_mode {
              color: #f2f2f2;
  
              @media (max-width: 820px) {
                color: #1C629E;
              }
            }
  
            &:hover {
              color: #E0595D;
              transition: color .2s ease-in-out;
            }
          }
  
          &.active button:hover {
            color: #4E4C4C;
          }
  
          &.dark_mode.active button:hover {
            color: #f2f2f2;
          }
        }
      }
  
      &__content {
        &__text {
          font-size: 18px;
          line-height: 27px;
          color: #4E4C4C;
  
          @media (max-width: 820px) {
            font-size: 16px;
          }
        }
  
        &.dark_mode &__text {
          color: #f2f2f2;
        }
      }
    }
  }
  