.profile {
    grid-column: 13;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    z-index: 10;
  
    &__btn {
      margin: 0;
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;

      
        
        &__text{
          color: #fff;
          
        }

        
      
    }
  
    &__span {
      position: absolute;
      top: -4px;
      left: -20px;
  
      @media (max-width: 560px) {
        left: -12px;
      }
  
      & svg {
        fill: #fff;
        transition: fill .2s ease-in-out;
      }
    }
  
    &:hover &__span>svg {
      fill: #FFC540;
      transition: fill .2s ease-in-out;
    }
  
    &__dropdown {
      position: absolute;
      top: 24px;
      right: 34px;
      margin: 0;
      padding: 15px;
      list-style-type: none;
      border-radius: 4px;
      background-color: #f2f2f2;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  
      &__user {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        padding-bottom: 12px;
        border-bottom: 1px solid #e9e9e9;
      }

      
      
  
      &__username {
        font-size: 18px;
        color: #2d2d2d;
  
        &.dark_mode {
          color: #f2f2f2;
        }
      }
  
      &__email {
        opacity: 0.5;
        font-size: 14px;
        color: #2d2d2d;
  
        &.dark_mode {
          color: #e9e9e9;
        }
      }
  
      &__item {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
  
        &__btn {
          cursor: pointer;
          border: none;
          background-color: transparent;
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
        }
  
        &__svg {
          width: 17px;
          height: 18px;
  
          & svg {
            fill: #2D2D2D;
            transition: fill .2s ease-in-out;
          }
  
          &.dark_mode svg {
            fill: #f2f2f2;
          }
        }
  
        &:hover &__svg>svg {
          fill: #FFC540;
          transition: fill .2s ease-in-out;
        }
  
        &__text {
          margin-right: 5px;
          color: #2d2d2d;
          transition: color .2s ease-in-out;
  
          &.dark_mode {
            color: #f2f2f2;
          }
        }
  
        &:hover &__text {
          color: #FFC540;
          transition: color .2s ease-in-out;
        }
      }
    }
  
    &__dropdown.dark_mode {
      background-color: #2d2d2d;
    }
  }