.part {
    &__top {
      padding: 24px;
      border-radius: 4px;
      margin-bottom: 86px;
      background-color: #FFFFFF;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  
      @media (max-width: 850px) {
        padding: 16px;
        margin-bottom: 16px;
      }
  
      @media (max-width: 530px) {
        padding: 16px 8px;
      }
  
      &.dark_mode {
        background-color: #2d2d2d;
      }
    }
  
    &__title {
      margin: 0;
      margin-bottom: 26px;
      font-weight: 500;
      font-size: 36px;
      color: #2D2D2D;
  
      @media (max-width: 850px) {
        margin-bottom: 16px;
        font-size: 22px;
      }
  
      &.dark_mode {
        color: #f2f2f2;
      }
    }
  
    &__inner {
      display: grid;
      grid-template-columns: 48% 1fr;
      grid-column-gap: 48px;
  
      @media (max-width: 1080px) {
        grid-column-gap: 30px;
      }
  
      @media (max-width: 850px) {
        grid-template-columns: auto;
      }
    }
  
    &__info {
      @media (max-width: 850px) {
        display: grid;
        grid-template-rows: repeat(4, auto);
      }
  
      &__price {
        display: block;
        font-weight: 500;
        font-size: 36px;
        margin-bottom: 24px;
        color: #2D2D2D;
  
        @media (max-width: 850px) {
          grid-row: 3;
        }
  
        @media (max-width: 530px) {
          font-size: 22px;
        }
  
        &.dark_mode {
          color: #f2f2f2;
        }
      }
  
      &__stock {
        font-size: 14px;
        display: block;
        margin-bottom: 24px;
  
        &__success {
          color: #04B19E;
        }
  
        &__not {
          color: #E0595D;
        }
      }
  
      &__code {
        display: block;
        margin-bottom: 24px;
        font-size: 18px;
        color: #4E4C4C;
  
        @media (max-width: 530px) {
          font-size: 16px;
        }
      }
  
      &__btn {
        position: relative;
        border: none;
        margin-bottom: 48px;
        width: 324px;
        height: 55px;
        cursor: pointer;
        background-color: #FFCF62;
        border-radius: 4px;
        font-size: 20px;
        color: #4E4C4C;
        transition: background-color .2s ease-in-out;
  
        @media (max-width: 850px) {
          margin-bottom: 0;
        }
  
        @media (max-width: 530px) {
          width: 288px;
          height: 48px;
        }
  
  
        @media (max-width: 340px) {
          width: 270px;
        }
  
        &:hover {
          background-color: #04B19E;
          transition: background-color .2s ease-in-out;
        }
  
        &.in_cart {
          background-color: #04B19E;
          transition: background-color .2s ease-in-out;
        }
  
        &__icon {
          position: relative;
  
          svg {
            display: block;
            position: absolute;
            top: 1px;
            left: -40px;
  
            @media (max-width: 340px) {
              left: -30px;
            }
          }
        }
      }
    }
  
    &__tabs {
      &__controls {
        margin-bottom: 24px;
  
        &.dark_mode button {
          color: #f2f2f2;
        }
  
        button {
          border: none;
          background-color: transparent;
          margin: 0;
          padding: 0;
          cursor: pointer;
          font-weight: 500;
          font-size: 18px;
          color: #4E4C4C;
          transition: color .2s ease-in-out;
  
          &:first-child {
            
            margin-right: 16px;
            
          }
  
          &.active {
            color: #E0595D;
            transition: color .2s ease-in-out;
          }
        }
      }
  
      &__content {
        &__title {
          margin: 0;
          margin-bottom: 24px;
          font-size: 24px;
          color: #4E4C4C;
  
          &.dark_mode {
            color: #f2f2f2;
          }
        }
  
        &__text {
          font-size: 18px;
          line-height: 27px;
          color: #4E4C4C;
  
          &.dark_mode {
            color: #f2f2f2;
          }
        }
      }
    }
  
    &__images {
      overflow: hidden;
  
      @media (max-width: 850px) {
        margin-bottom: 16px;
      }
  
      &__main {
        height: 455px;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 16px;
  
        @media (max-width: 1080px) {
          height: 380px;
        }
  
        img {
          width: 100%;
          height: 100%;
        }
      }
  
      &__list {
        overflow-x: auto;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        padding-bottom: 16px;
  
        &::-webkit-scrollbar {
          height: 8px;
        }
  
        &::-webkit-scrollbar-track {
          background-color: #E1E1E1;
          border-radius: 5px;
        }
  
        &::-webkit-scrollbar-thumb {
          background-color: #9E9E9E;
          background: #9E9E9E;
          border-radius: 5px;
        }
  
        &__item {
          min-width: 166px;
          height: 149px;
          border-radius: 4px;
          overflow: hidden;
          cursor: pointer;
  
          @media (max-width: 1080px) {
            min-width: 150px;
            height: 120px;
          }
  
          &:not(:last-child) {
            margin-right: 16px;
          }
  
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  
    &__slide {
      overflow: hidden;
      border-radius: 4px;
      height: 100%;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
  
    &__accordion {
      margin-bottom: 34px;
  
      &__title {
        position: relative;
        z-index: 1;
        margin: 0;
        display: block;
        width: 100%;
        text-align: start;
        border: none;
        padding: 24px 16px;
        background-color: #FFFFFF;
        border-radius: 4px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        font-weight: 600;
        font-size: 18px;
        color: #2D2D2D;
  
        &::before {
          content: '';
          position: absolute;
          top: 29px;
          right: 33px;
          width: 6px;
          height: 6px;
          border-right: 1.5px solid #1C629E;
          border-bottom: 1.5px solid #1C629E;
          transform: rotate(45deg);
        }
  
        &.open::before {
          transform: rotate(-135deg);
          top: 30px;
        }
  
        &.dark_mode {
          background-color: #2d2d2d;
          color: #f2f2f2;
        }
      }
  
      &__inner {
        margin-bottom: 24px;
      }
  
      &__content {
        background-color: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 24px 16px;
        margin-top: -5px;
        padding-top: 29px;
  
        &.dark_mode {
          background-color: #2d2d2d;
        }
      }
    }
  }